/* styles for my resume */

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/* creates general font family */

body {
  font-family: ;
  color: ;
}

/* top banner */

#banner {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/banner.jpg);
  background-color: black;
  height: 100vh;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.nametitle {
  font-family: ;
  font-size: 100px;
  color: white;
  margin-left: 150px;
  margin-top: 0px;
}

/* Title formatting */
#title {
  text-transform: uppercase;
  font-size: 2em;
  color: #33485e;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

/* adds blue bars and makes text white for section titles */
.sectionheader {
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
  background-color: #33485e;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 70%;
  min-width: 300px;
}
/* adjusts size for job titles */
.jobtitle {
  font-weight: 600;
  font-size: 2em;
  color: black;
}
/* adjusts size for job organization */
.organization {
  font-weight: 400;
  font-size: 1.5em;
}
/* adjusts size for job dates */
.date {
  font-weight: 400;
  font-size: 1em;
  margin: 10px, 0px, 0px;
  font-style: italic;
}

.description {
  margin: 10px, 0px;
}

.menu{
  margin:0px;
  padding: 0px;
  text-align: center;
}

.menu li {
    display: inline;
}

#degrees {
  margin: 5px, 0px, 0px;
}

#skills {
  margin: 5px, 0px, 0px;
}

.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
